.home{
    height: 100%;
    margin-left: 20.1%;
    overflow-x: hidden;
    display: grid;
    grid-auto-rows: 35em;
    background-color: rgb(228, 238, 220);
    h1{
        overflow: hidden;
        font-family: 'Kaushan Script', cursive;
        font-size: 5em;
        font-weight: 300;
        justify-self: center;
        align-self: center;
        &::before{
            content: '';
            position: absolute;
            overflow: hidden;
            background-image: url('../Assets/paper.png');
            background-size: contain;
            background-repeat: no-repeat;
            top: 25%;
            left: 9%;
            z-index: 1;
            width: 15%;
            height: 25%;
            overflow: hidden;
            transition: 0.4s ease;
        }
        &:hover::before{
           
            transform: translateX(3em);
        }
    }
    .news{
        padding: 50px 10px 10px 30px;
        display: flex;
        flex-direction: row;
        grid-template-rows: 1fr 1fr;
        .content{
            top: -100%;
            width: 52%;
            height: 100%;
            align-items: flex-start;
            .title{
                font-size: 1em;
                margin-top: 0;
                font-size: 1.5em;
                padding: 20px 20px 0 20px;
                text-align: left;
                font-family: 'Carter One', cursive;
            }
            p{
                margin-top: 10%;
                font-weight: 500;
                word-spacing: 3px;
                line-height: 1.5em;
                font-family: Arial, Helvetica, sans-serif;
                text-align: justify ;
                padding: 20px 80px 20px 80px;
            }
        }
    }
    .news:nth-child(odd){
        flex-direction: row-reverse;
        .content{
            margin-right: 8px;
        }
        img{
            height: 80%;
            width: 45%;
        }
    }
    .news:nth-child(even){
        .content{
            margin-left: 8px;
        }
        img{
            height: 80%;
            width: 45%;
        }
    }
}